/* Normalize styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #ddd;
}

/* Bootstrap overriden styles */
.form-group {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Forms */
form h1 {
    text-align: center;
}

form > .form-group {
    margin: 1rem 0;
}

.form-error {
    color: #dc3545;
    font-size: 0.8rem;
}

/* Main content */
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

/* Chat */
.chat {
    display: flex;
    width: 100%;
    height: 100%;
}

.chat-sidebar {
    width: 15%;
}

.chat-area {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.chat-area__messages {
    height: 90%;
    overflow-y: scroll;
}

.chat-area__input {
    height: 10%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.message {
    height: 100px;
    border-bottom: 1px solid #ccc;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.message:last-child {
    border-bottom: none;
}

.message__meta {
    font-size: 0.8rem;
}

.message__meta-user {
    color: #222831;
    font-weight: bold;
}

.message__meta-time {
    color: #222831;
    font-size: 0.7rem;
    margin-left: 0.4rem;
}

.message__text {
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message__text::-webkit-scrollbar {
    display: none;
}

/* Login */
.register-link {
    font-size: 0.8rem;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .chat {
        flex-direction: column;
    }

    .chat-sidebar {
        width: 100%;
    }

    .chat-area {
        width: 100%;
        flex: 1;
        overflow: auto;
    }

    .chat-area__messages {
        padding: 0;
    }

    .message {
        height: 150px;
    }
}